a {
  text-decoration: none;
}
.card {
  max-width: 345px;
  background-color: beige !important;
}
.media {
  width: 300px;
  height: 300px;
}
.actions {
  justify-content: center;
  display: flex;
}
.content {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.buttonGoProduct {
  position: absolute !important;
  left: 100px;
  margin: 50px;
}
.paper {
  margin-top: 20px;
  padding: 10px;
}
